body {  
	color:#fff;
        background: url("http://img00.deviantart.net/1b07/i/2011/171/5/2/digital_desktop_by_karbonkrystal-d3jgekm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;	  
        font-size: 18px;
        text-align: center;
	
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-size: 40px;
}

ul {
	list-style-type: none;
      	margin: 0;
      	padding: 0; 
      	overflow: hidden;  
      	background-color: #154e5b;
      	opacity:0.8;
}

li {
      	float: left;
	border-right: 1px solid #303133;
}

li a {
      	display: block;
      	color: #fcfcfc;
      	text-align: center;
      	padding: 10px 36px;
      	text-decoration: none;
	font-weight: bold;
}

li a.active {
      	background-color: #CD853F;
      	color: white;
}

li a:hover {
	background-color: #303133;
}

#page {
	padding: 40px 30px 0px 30px;
}


